<h1>Show page</h1>

<ol>
<% current_user.events.order(:end_date).each do |event| %>
	<li><%= link_to "#{event.title}", event_path(event) %> Date: <%= event.start_date.strftime("%m/%d/%y") %></li>
<% end %>
</ol>
<%= link_to "Create Event", new_event_path %>