<% current_user.events.order(:start_date).each do |event| %>
	<li>
		<%= link_to "#{event.title}", event_path(event.id) %> Date: <%= event.start_date.strftime("%m/%d/%y") %><%= link_to "Edit Event", edit_user_event_path(current_user.id,event.id) %>
	</li>
<% end %>