#ui-datepicker-div{
 font-size:10px;
}

html, body.photo {
  height: 100%;
}

body.photo {
  margin-top: 40px;
}

.photocontainer {
  min-height: 100%;
}

.photocontainer:after {
  content: "";
  display: block;


}

footer.photo, .photocontainer:after {
  height: 20px;
}

.photoitem { margin-bottom: 15px; }


.grid.effect-4 {
    perspective: 1300px;
}
 
.grid.effect-4 li {
    transform-style: preserve-3d;
}
 
.grid.effect-4 li.animate {
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    animation: fallPerspective .8s ease-in-out forwards;
}
 
@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

