


.event_new_display_image {
	background: url(placeholder_12.jpg) no-repeat bottom center scroll;
	 margin-top: -15px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "century gothic",Arial,sans-serif;
    text-align:right;
    border-bottom: 3px solid #293a47;
}

.footer_general{
	width:100%;
	bottom:0;
	left:0;
	
	
}

.event_index_display_image {
	background: url(placeholder_2.jpg) no-repeat bottom center scroll;
	 margin-top: -15px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "century gothic",Arial,sans-serif;
    text-align:right;
    border-bottom: 3px solid #da8698;
}

.user_show_display_image{
	background: url(placeholder_4.jpg) no-repeat bottom center scroll;
	 margin-top: -15px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height: 370px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "century gothic",Arial,sans-serif;
    text-align:right;
    border-bottom: 3px solid #5b8f88;
}