#all_events_list {
    font-size: 20px;
    width: 100%;
    border-bottom: 2px solid #F996AC;
}
.all_events_item{
    font-size: 18px;
    border-bottom: 2px solid #F996AC;
    padding: 10px;
    width: 100%;
}

.event_new_display_image {
	background: url(placeholder_12.jpg) no-repeat center scroll;
	 margin-top: -15px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "century gothic",Arial,sans-serif;
    text-align:right;
    border-bottom: 3px solid #293a47;
}

.footer_general{
	width:100%;
	bottom:0;
	left:0;


}

.event_index_display_image {
	background: url(placeholder_2v1.jpg) no-repeat center scroll;
	margin-top: 15px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "century gothic",Arial,sans-serif;
    text-align:right;
    border-bottom: 3px solid #da8698;
}

.user_show_display_image{
	background: url(placeholder_4v1.jpg) no-repeat bottom center scroll;
	margin-top: 45px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height: 370px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "century gothic",Arial,sans-serif;
    text-align:right;
    border-bottom: 3px solid #5b8f88;
}

.user_show_bot_menu{
    float: right;
}

.user_show_bot {
    margin: 5px;
    border: 1px solid #293a47;
    color: #293a47;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user_show_bot:hover,
.user_show_bot:focus {
    text-decoration: none;
    border: 1px solid #EBEBEB;
    outline: 0;
    color: #000;
    background-color: #EBEBEB;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}


.user_edit_bot {
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #293a47;
    color: #293a47;
    background-color: transparent;
    font-family: sans-serif;
    text-decoration: none;
    width: 80px;

}

.user_edit_bot:hover,
.user_edit_bot:focus {
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid #EBEBEB;
    outline: 0;
    color: #000;
    background-color: #EBEBEB;
    
}

.user_edit_bot_delete {
    border: 1px solid red;
    color: #293a47;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user_edit_bot_delete:hover,
.user_edit_bot_delete:focus {
    text-decoration: none;
    border: 1px solid #EBEBEB;
    outline: 0;
    color: red;
    background-color: #EBEBEB;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}


.user_show_bot_edit {
    margin: 5px;
    border: 1px solid #293a47;
    color: #293a47;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.upcoming_event_th{
    color: black;
    border: 2px solid #293945;
    padding: 5px;
    font-size: 18px;
    background-color: #BCE2DD;
}
.upcoming_event_td{
    border: 2px solid #293945;
    padding: 5px;
    font-size: 16px;
}
.upcoming_event_table{
    border: 2px solid;
    padding: 5px;
    width: 100%;

}
.upcoming_event_th_special{
    background-color: #78C5BB;
}

.previous_event_th{
    border: 2px solid #293945;
    padding: 5px;
    font-size: 18px;
    background-color: #BCE2DD;
}
.previous_event_td{
    border: 2px solid #293945;
    padding: 5px;
    font-size: 16px;
}
.previous_event_table{
    border: 2px solid #293945;
    padding: 5px;
    width: 100%;
}
.previous_event_th_special{
    background-color: #78C5BB;
}
.upload_title{
    margin-top: 250px;
    margin-left: 40px;
}
.form{
    margin-left: 40px;
}
