

.intro{

    background: url(crowdpiclanding4.jpg) no-repeat bottom center scroll;
    background-repeat: no-repeat;
    background-color: #212AFE;
    background-size:100% 100%;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.about-section{
    padding: 75px;
    width: 100%;
    color: #ffffff;
    background-color: #715AFE;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.team-section{
    padding: 75px;
    width: 100%;
    color: #ffffff;
    background-color: #BA25E9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}


.learn_more-section{
    padding: 75px;
    color: #ffffff;
    background-color: #BA5219;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}


.contact-section{
    padding: 75px;
    color: #ffffff;
    background-color: #1A5919;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.landing_body{
}



